@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: pink;
  text-align:center;
}
.overskrift {
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}


.title-ved-sektion {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: blue;

}

.nyhedsboks {
  border-style: solid;
  border-color: grey;
}

.titel {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: blue;
}



.logo {
  border-style: solid;
  border-color: grey;
  float: left;
}

.diplay-logo-navn {
  display: flex;
}



.navn-ved-logo {
  float: right;
  font-family: 'Julius Sans One', sans-serif;
  color: blue;
}

.beskrivelse {
  font-family: 'Libre Baskerville', serif;
}

.kommentar {
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: 'Julius Sans One', sans-serif;
}

.kommentar:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.fa-comment {
  color: grey;
}

.tal-af-kommentarer {
 float: right;
}

.kommentarfelt {
  background-color: rgba(128, 128, 128, 0.2);

}

.skriv-kommentar {
  text-align: center;
}


.kommentar-send {
  cursor: pointer;
  font-family: 'Julius Sans One', sans-serif;
}

.kommentar-send:hover {
  background-color: rgb(170, 170, 170);
}

.vis-ikke {
  display: none;
}
.vis-ikke-nyhed1 {
  display: none;
}

.vis-ikke-nyhed2 {
  display: none;
}

.vis-ikke-feedback1 {
  display: none;
}

.vis-ikke-feedback2 {
  display: none;
}



.vis-ikke-feedback {
  display: none;
}

.vis {
  display: block;
}

.vis-feedback {
  display: block;
}
.Se-mere-funktion {
  font-family: 'Julius Sans One', sans-serif;
  color: blue;
  text-align: center;
  cursor: pointer;
}

.Se-mere {
  font-family: 'Julius Sans One', sans-serif;
  color: blue;
  text-align: center;
  cursor: pointer;
}



  .card1 img{
    border-color: #3D4399;
    border-style: solid;
  }
  .card1 h4{
    color: #737373;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
  }
  .card1 textarea{
    background: #eee;
    outline: none;
    border: none;
    resize: none;
    color: #737373;
  }
  .card1 button{
    background: #3D4399;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: light;
    border: none;
    cursor: pointer;
    outline: none;

  }
  .card1 button:hover{
  background: #989898;
  transition: all 1s;
}
.card1   ul{
    border-top: 1px solid #737373;
  }
.card1   li{
   list-style: none;
   display: inline-block;
   cursor: pointer;

  }
.card1 li:hover{opacity: 0.4; transition: color 3s;}

.card1 li.like::after{
    font-family: 'Font Awesome 5 Free';
    content: "\f164";
    visibility: visible;
    font-weight: 900;
    padding-left: 5px;
  }
.card1 li.likeClicked{
    color: #3D4399;

  }

  .card1 li.likeClicked:hover{opacity: 1; cursor: default;}
  .card1 li.reply::after{
    font-family: 'Font Awesome 5 Free';
    content: "\f4ad";
    visibility: visible;
    font-weight: 900;
    padding-left: 5px;
  }

    .card2 img{
      border-color: #3D4399;
      border-style: solid;
    }
    .card2 h4{
      color: #737373;
      font-family: Helvetica, sans-serif;
      font-weight: bold;

    }
    .card2 textarea{
      background: #eee;
      outline: none;
      border: none;
      resize: none;
      color: #737373;
    }
    .card2 button{
      background: #3D4399;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: light;
      border: none;
      cursor: pointer;
      outline: none;

    }
    .card2 button:hover{
    background: #989898;
    transition: all 1s;
  }
  .card2   ul{
      border-top: 1px solid #737373;
    }
  .card2   li{
     list-style: none;
     display: inline-block;
     cursor: pointer;

    }
  .card2 li:hover{opacity: 0.4; transition: color 3s;}

  .card2 li.like::after{
      font-family: 'Font Awesome 5 Free';
      content: "\f164";
      visibility: visible;
      font-weight: 900;
      padding-left: 5px;
    }
  .card2 li.likeClicked{
      color: #3D4399;

    }

    .card2 li.likeClicked:hover{opacity: 1; cursor: default;}
    .card2 li.reply::after{
      font-family: 'Font Awesome 5 Free';
      content: "\f4ad";
      visibility: visible;
      font-weight: 900;
      padding-left: 5px;
    }



      .card3 img{
        border-color: #3D4399;
        border-style: solid;
      }
      .card3 h4{
        color: #737373;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
      }
      .card3 textarea{
        background: #eee;
        outline: none;
        border: none;
        resize: none;
        color: #737373;
      }
      .card3 button{
        background: #3D4399;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: light;
        border: none;
        cursor: pointer;
        outline: none;

      }
      .card3 button:hover{
      background: #989898;
      transition: all 1s;
    }
    .card3   ul{
        border-top: 1px solid #737373;
        padding-top: 15px;
        margin-top: 15px;
      }
    .card3   li{
       list-style: none;
       display: inline-block;
       padding-right: 25px;
       cursor: pointer;

      }
    .card3 li:hover{opacity: 0.4; transition: color 3s;}

    .card3 li.like::after{
        font-family: 'Font Awesome 5 Free';
        content: "\f164";
        visibility: visible;
        font-weight: 900;
        padding-left: 5px;
      }
    .card3 li.likeClicked{
        color: #3D4399;

      }

      .card3 li.likeClicked:hover{opacity: 1; cursor: default;}
      .card3 li.reply::after{
        font-family: 'Font Awesome 5 Free';
        content: "\f4ad";
        visibility: visible;
        font-weight: 900;
        padding-left: 5px;
      }


        .card4 img{
          border-color: #3D4399;
          border-style: solid;
        }
        .card4 h4{
          color: #737373;
          font-family: Helvetica, sans-serif;
          font-weight: bold;
        }
        .card4 textarea{
          background: #eee;
          outline: none;
          border: none;
          resize: none;
          color: #737373;
        }
        .card4 button{
          background: #3D4399;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: light;
          border: none;
          cursor: pointer;
          outline: none;

        }
        .card4 button:hover{
        background: #989898;
        transition: all 1s;
      }
      .card4   ul{
          border-top: 1px solid #737373;
        }
      .card4   li{
         list-style: none;
         display: inline-block;
         cursor: pointer;
        }
      .card4 li:hover{opacity: 0.4; transition: color 3s;}

      .card4 li.like::after{
          font-family: 'Font Awesome 5 Free';
          content: "\f164";
          visibility: visible;
          font-weight: 900;
          padding-left: 5px;
        }
      .card4 li.likeClicked{
          color: #3D4399;

        }

        .card4 li.likeClicked:hover{opacity: 1; cursor: default;}
        .card4 li.reply::after{
          font-family: 'Font Awesome 5 Free';
          content: "\f4ad";
          visibility: visible;
          font-weight: 900;
          padding-left: 5px;
        }

.statusBox{
   background:#eee;
    animation-name: fadeIn;
    animation: fadeIn 1.5s;
    color: #737373;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
     opacity: 1;
  }
}

input.removeButton{
    background: #3D4399;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: light;

}
input.removeButton:hover{
background: #989898;
transition: all 1s;
}

.shit{
  background: #eee;
}

.deleteComment{
   float: right;
   cursor: pointer;


}
.deleteComment:hover{
  opacity: 0.3;
  transition: all 1s;
}


.deleteComment:before{
font-family: 'Font Awesome 5 Free';
  content: "\f2ed";
  visibility: visible;
  font-weight: 900;
float: right;
padding-left: 5px;
}


/* RESPONSIV DESIGN FOR DESKTOP/LAPTOP */
@media screen and (min-width: 1280px) and (max-width: 1920px) {

  header {
    padding-top: 5%;
    padding-bottom: 4%;
  }

  .overskrift {
    font-size: 2.4rem;
    margin-bottom: 3%;
  }

  .underoverskrift {
    margin-right: 20%;
    margin-left: 20%;
  }

  .nyheder {
    margin-top: 4%;
  }

  .nyhedsboks {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    margin-top: 2%;
  }

  .titel {
    margin-top: 0.5%;
  }

  .forum-kapsel {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    width: 65px;
    height: 65px;
    border-radius: 40px;
    border-width: 1px;
  }

  .logo-billede {
    height: 65%;
    width: 80%;
    margin-left: 12%;
    margin-top: 20%;
  }

  .navn-ved-logo {
    margin-top: 1.8%;
    margin-left: 0.5%;
  }

  .beskrivelse {
    line-height: 1.5;
    margin-top: 3%;
    margin-bottom: 2%;

  }

  .kommentar {
    margin-top: 2%;
    width: 200px;
    left: 800px;
    padding-right: 1%;
    margin-bottom: 1%;
  }

  .kommentar:hover {
    border-radius: 10px;
  }

  .fa-comment {
    font-size: 2rem;
  }

  .tal-af-kommentarer {
 margin-top: 4%;
 margin-left: 0.2%;
}

.kommentarfelt {
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.skriv-kommentar {
  margin-top: 1%;
  margin-bottom: 1%;
}

.kommentar-tekst {
  height: 25px;
  width: 500px;
  border-radius: 10px;
}

.kommentar-send {
  height: 25px;
  width: 65px;
  border-radius: 10px;
}




.Se-mere-funktion {
  font-size: 2rem;
  margin-top: 2%;
}

.Se-mere {
  font-size: 2rem;
  margin-top: 2%;
}


.card1 {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  width: 90%;
  margin-bottom: 2%;
  margin-top: 2%;
  }

  .card1 img{
    border-width: 3px;
  }
  .card1 h4{
    letter-spacing: -0.1rem;
    padding-bottom: 0.5rem;
  }
  .card1 textarea{
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
    border-radius: 2px;
    margin-bottom: 0.3rem;
  }
  .card1 button{
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    font-size: 0.6rem;
    letter-spacing: 2px;
  }

.card1  ul{
    padding-top: 15px;
    margin-top: 15px;
  }
.card1   li{
   padding-right: 25px;
  }

  .card2 {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    width: 90%;
    margin-bottom: 2%;
    margin-top: 2%;
    }
    .card2 img{
      border-width: 3px;
    }
    .card2 h4{
      letter-spacing: -0.1rem;
      padding-bottom: 0.5rem;
    }
    .card2 textarea{
      width: 100%;
      padding: 0.5rem;
      box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
      border-radius: 2px;
      margin-bottom: 0.3rem;
    }
    .card2 button{
      padding: 0.3rem 0.5rem;
      border-radius: 0.4rem;
      font-size: 0.6rem;
      letter-spacing: 2px;
    }

  .card2   ul{
      padding-top: 15px;
      margin-top: 15px;
    }
  .card2   li{
     padding-right: 25px;
    }

    .card3 {
      border-radius: 0.5rem;
      box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
      margin-left: auto;
      margin-right: auto;
      padding: 1.5rem;
      width: 90%;
      margin-bottom: 2%;
      margin-top: 2%;
      }

      .card3 img{
        border-width: 3px;
      }
      .card3 h4{
        letter-spacing: -0.1rem;
        padding-bottom: 0.5rem;
      }
      .card3 textarea{
        width: 100%;
        padding: 0.5rem;
        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
        border-radius: 2px;
        margin-bottom: 0.3rem;
      }
      .card3 button{
        padding: 0.3rem 0.5rem;
        border-radius: 0.4rem;
        font-size: 0.6rem;
        letter-spacing: 2px;

      }

    .card3   ul{
        padding-top: 15px;
        margin-top: 15px;
      }
    .card3   li{
       padding-right: 25px;

      }

      .card4 {
        border-radius: 0.5rem;
        box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem;
        width: 90%;
        margin-bottom: 2%;
        margin-top: 2%;
        }
        .card4 img{
          border-width: 3px;
        }
        .card4 h4{
          letter-spacing: -0.1rem;
          padding-bottom: 0.5rem;
        }
        .card4 textarea{
          width: 100%;
          padding: 0.5rem;
          box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
          border-radius: 2px;
          margin-bottom: 0.3rem;
        }
        .card4 button{
          padding: 0.3rem 0.5rem;
          border-radius: 0.4rem;
          font-size: 0.6rem;
          letter-spacing: 2px;
        }

      .card4   ul{
          padding-top: 15px;
          margin-top: 15px;
        }
      .card4   li{
         padding-right: 25px;

        }


.statusBox{
    padding: 1rem;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 15px;

}




input.removeButton{
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
      font-size: 0.6rem;
    letter-spacing: 2px;

}


.shit{
  padding: 10px;
}





}


/* RESPONSIV DESIGN FOR TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  header {
    padding-top: 5%;
    padding-bottom: 4%;
  }

  .overskrift {
    font-size: 2.4rem;
    margin-bottom: 3%;
  }

  .underoverskrift {
    margin-right: 20%;
    margin-left: 20%;
  }

  .nyheder {
    margin-top: 4%;
  }

  .nyhedsboks {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    margin-top: 2%;
  }

  .titel {
    margin-top: 0.5%;
  }

  .forum-kapsel {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    width: 65px;
    height: 65px;
    border-radius: 40px;
    border-width: 1px;
  }

  .logo-billede {
    height: 65%;
    width: 80%;
    margin-left: 12%;
    margin-top: 20%;
  }

  .navn-ved-logo {
    margin-top: 1.8%;
    margin-left: 0.5%;
  }

  .beskrivelse {
    line-height: 1.5;
    margin-top: 3%;
    margin-bottom: 2%;

  }

  .kommentar {
    margin-top: 2%;
    width: 200px;
    left: 400px;
    padding-right: 1%;
    margin-bottom: 1%;
  }

  .kommentar:hover {
    border-radius: 10px;
  }

  .fa-comment {
    font-size: 2rem;
  }

  .tal-af-kommentarer {
 margin-top: 4%;
 margin-left: 0.2%;
}

.kommentarfelt {
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.skriv-kommentar {
  margin-top: 1%;
  margin-bottom: 1%;
}

.kommentar-tekst {
  height: 25px;
  width: 500px;
  border-radius: 10px;
}

.kommentar-send {
  height: 25px;
  width: 65px;
  border-radius: 10px;
}




.Se-mere-funktion {
  font-size: 2rem;
  margin-top: 2%;
}

.Se-mere {
  font-size: 2rem;
  margin-top: 2%;
}


.card1 {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  width: 90%;
  margin-bottom: 2%;
  margin-top: 2%;
  }

  .card1 img{
    border-width: 3px;
  }
  .card1 h4{
    letter-spacing: -0.1rem;
    padding-bottom: 0.5rem;
  }
  .card1 textarea{
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
    border-radius: 2px;
    margin-bottom: 0.3rem;
  }
  .card1 button{
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    font-size: 0.6rem;
    letter-spacing: 2px;
  }

.card1  ul{
    padding-top: 15px;
    margin-top: 15px;
  }
.card1   li{
   padding-right: 25px;
  }

  .card2 {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    width: 90%;
    margin-bottom: 2%;
    margin-top: 2%;
    }
    .card2 img{
      border-width: 3px;
    }
    .card2 h4{
      letter-spacing: -0.1rem;
      padding-bottom: 0.5rem;
    }
    .card2 textarea{
      width: 100%;
      padding: 0.5rem;
      box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
      border-radius: 2px;
      margin-bottom: 0.3rem;
    }
    .card2 button{
      padding: 0.3rem 0.5rem;
      border-radius: 0.4rem;
      font-size: 0.6rem;
      letter-spacing: 2px;
    }

  .card2   ul{
      padding-top: 15px;
      margin-top: 15px;
    }
  .card2   li{
     padding-right: 25px;
    }

    .card3 {
      border-radius: 0.5rem;
      box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
      margin-left: auto;
      margin-right: auto;
      padding: 1.5rem;
      width: 90%;
      margin-bottom: 2%;
      margin-top: 2%;
      }

      .card3 img{
        border-width: 3px;
      }
      .card3 h4{
        letter-spacing: -0.1rem;
        padding-bottom: 0.5rem;
      }
      .card3 textarea{
        width: 100%;
        padding: 0.5rem;
        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
        border-radius: 2px;
        margin-bottom: 0.3rem;
      }
      .card3 button{
        padding: 0.3rem 0.5rem;
        border-radius: 0.4rem;
        font-size: 0.6rem;
        letter-spacing: 2px;

      }

    .card3   ul{
        padding-top: 15px;
        margin-top: 15px;
      }
    .card3   li{
       padding-right: 25px;

      }

      .card4 {
        border-radius: 0.5rem;
        box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem;
        width: 90%;
        margin-bottom: 2%;
        margin-top: 2%;
        }
        .card4 img{
          border-width: 3px;
        }
        .card4 h4{
          letter-spacing: -0.1rem;
          padding-bottom: 0.5rem;
        }
        .card4 textarea{
          width: 100%;
          padding: 0.5rem;
          box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
          border-radius: 2px;
          margin-bottom: 0.3rem;
        }
        .card4 button{
          padding: 0.3rem 0.5rem;
          border-radius: 0.4rem;
          font-size: 0.6rem;
          letter-spacing: 2px;
        }

      .card4   ul{
          padding-top: 15px;
          margin-top: 15px;
        }
      .card4   li{
         padding-right: 25px;

        }


.statusBox{
    padding: 1rem;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 15px;

}




input.removeButton{
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
      font-size: 0.6rem;
    letter-spacing: 2px;

}


.shit{
  padding: 10px;
}





}


/* RESPONSIV DESIGN FOR MOBIL*/
@media screen and (min-width: 375px) and (max-width: 414px) {

  header {
    padding-top: 5%;
    padding-bottom: 4%;
  }

  .overskrift {
    font-size: 2.4rem;
    margin-bottom: 3%;
  }

  .underoverskrift {
    margin-right: 20%;
    margin-left: 20%;
  }

  .nyheder {
    margin-top: 4%;
  }

  .nyhedsboks {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    margin-top: 2%;
  }

  .titel {
    margin-top: 0.5%;
  }

  .forum-kapsel {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    width: 65px;
    height: 65px;
    border-radius: 40px;
    border-width: 1px;
  }

  .logo-billede {
    height: 65%;
    width: 80%;
    margin-left: 12%;
    margin-top: 20%;
  }

  .navn-ved-logo {
    margin-top: 1.8%;
    margin-left: 0.5%;
  }

  .beskrivelse {
    line-height: 1.5;
    margin-top: 3%;
    margin-bottom: 2%;

  }

  .kommentar {
    margin-top: 2%;
    width: 250px;
    left: 800px;
    padding-right: 1%;
    margin-bottom: 1%;
  }

  .kommentar:hover {
    border-radius: 10px;
  }

  .fa-comment {
    font-size: 36px;
  }

  .tal-af-kommentarer {
    font-size: 36px;
 margin-top: 4%;
 margin-left: 0.2%;
}

.kommentarfelt {
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.skriv-kommentar {
  margin-top: 1%;
  margin-bottom: 1%;
}

.kommentar-tekst {
  height: 25px;
  width: 500px;
  border-radius: 10px;
}

.kommentar-send {
  height: 25px;
  width: 65px;
  border-radius: 10px;
}




.Se-mere-funktion {
  font-size: 2rem;
  margin-top: 2%;
}

.Se-mere {
  font-size: 2rem;
  margin-top: 2%;
}


.card1 {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  width: 90%;
  margin-bottom: 2%;
  margin-top: 2%;
  }

  .card1 img{
    border-width: 3px;
  }
  .card1 h4{
    letter-spacing: -0.1rem;
    padding-bottom: 0.5rem;
  }
  .card1 textarea{
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
    border-radius: 2px;
    margin-bottom: 0.3rem;
  }
  .card1 button{
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    font-size: 0.6rem;
    letter-spacing: 2px;
  }

.card1  ul{
    padding-top: 15px;
    margin-top: 15px;
  }
.card1   li{
   padding-right: 25px;
  }

  .card2 {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    width: 90%;
    margin-bottom: 2%;
    margin-top: 2%;
    }
    .card2 img{
      border-width: 3px;
    }
    .card2 h4{
      letter-spacing: -0.1rem;
      padding-bottom: 0.5rem;
    }
    .card2 textarea{
      width: 100%;
      padding: 0.5rem;
      box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
      border-radius: 2px;
      margin-bottom: 0.3rem;
    }
    .card2 button{
      padding: 0.3rem 0.5rem;
      border-radius: 0.4rem;
      font-size: 0.6rem;
      letter-spacing: 2px;
    }

  .card2   ul{
      padding-top: 15px;
      margin-top: 15px;
    }
  .card2   li{
     padding-right: 25px;
    }

    .card3 {
      border-radius: 0.5rem;
      box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
      margin-left: auto;
      margin-right: auto;
      padding: 1.5rem;
      width: 90%;
      margin-bottom: 2%;
      margin-top: 2%;
      }

      .card3 img{
        border-width: 3px;
      }
      .card3 h4{
        letter-spacing: -0.1rem;
        padding-bottom: 0.5rem;
      }
      .card3 textarea{
        width: 100%;
        padding: 0.5rem;
        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
        border-radius: 2px;
        margin-bottom: 0.3rem;
      }
      .card3 button{
        padding: 0.3rem 0.5rem;
        border-radius: 0.4rem;
        font-size: 0.6rem;
        letter-spacing: 2px;

      }

    .card3   ul{
        padding-top: 15px;
        margin-top: 15px;
      }
    .card3   li{
       padding-right: 25px;

      }

      .card4 {
        border-radius: 0.5rem;
        box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.39);
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem;
        width: 90%;
        margin-bottom: 2%;
        margin-top: 2%;
        }
        .card4 img{
          border-width: 3px;
        }
        .card4 h4{
          letter-spacing: -0.1rem;
          padding-bottom: 0.5rem;
        }
        .card4 textarea{
          width: 100%;
          padding: 0.5rem;
          box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.19);
          border-radius: 2px;
          margin-bottom: 0.3rem;
        }
        .card4 button{
          padding: 0.3rem 0.5rem;
          border-radius: 0.4rem;
          font-size: 0.6rem;
          letter-spacing: 2px;
        }

      .card4   ul{
          padding-top: 15px;
          margin-top: 15px;
        }
      .card4   li{
         padding-right: 25px;

        }


.statusBox{
    padding: 1rem;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 15px;

}




input.removeButton{
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
      font-size: 0.6rem;
    letter-spacing: 2px;

}


.shit{
  padding: 10px;
}





}
